﻿@*@model Vidly.Models.Customer*@
@model Vidly.ViewModels.NewCustomerViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>


@*// generate and create a new customer input field with
    validation and constraints from Customer Model*@

@using (Html.BeginForm("Create", "Customers"))
{  <div class="form-group">
       @Html.LabelFor(m => m.Customer.Name) 
       @Html.TextBoxFor(m =>m.Customer.Name, new { @class = " form-control" })
   </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthdate) 
        @Html.TextBoxFor(m =>m.Customer.Birthdate, new { @class = " form-control" })
    </div>    

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m =>m.Customer.IsSubscribedToNewsletter) Subscribed to Newsletter?
        </label>
    </div>
  
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId) 
        @Html.DropDownListFor(m =>m.Customer.MembershipTypeId, new SelectList(Model.MembersipTypes, "Id", "Name"), "Select Membership Type", new { @class = " form-control" })
    </div> 
}

